@model IEnumerable<SK.Models.Produto>
@{
    ViewBag.Title = "Index";
    <link href="~/Content/_HomeIndex.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
}

<div id="main-homepg">
    <div class="firstcontentpg">
        <h2>O Melhor site de<span class="altername"> SKINS DE TODO O BRASIL</span></h2>
    </div>

    <div class="secondcontentpg">
        <h3>Com a chegada da nova SOURCE 2 você não quer as mesmas SKINS, quer?</h3>
        <p>Veja as skins disponíveis abaixo</p>
    </div>

    <div class="thirthycontentpg">
        @foreach (var item in Model)
        {
            <div class="bg-product">
                <div class="img-productbg">
                    <img alt="@item.Nome_Produto" src="@item.ImageUrl" onclick="detail.details(@item.ProdutoId)">
                </div>
                <h3>@item.Nome_Produto</h3>
                <h3 class="danger">R$ @item.Preco</h3>
                <div class="addtocart">
                    <button onclick="cart.addCart(@item.ProdutoId)">ADICIONAR AO CARRINHO + </button>
                </div>
            </div>
        }
    </div>
</div>
<div id="details"></div>
    @*<div class="bg-product">
        <div class="img-productbg">
            <img alt="M4A4 (StatTrak™) | Temukau (Nova de Fábrica)" src="">
        </div>
        <h3>M4A4 (StatTrak™) | Temukau (Nova de Fábrica)</h3>
        <h3 class="danger">R$ 2.385,00</h3>
    </div>*@

<script src="~/scripts/_Details.js"></script>
<script src="~/scripts/_CartRequests.js"></script>
<script>
    detail.init({
        urls: {
            viewProduct: '@Url.Action("ViewProduct", "Home")',
        },
    });

    cart.init({
        urls: {
            addToCart: '@Url.Action("AddToCart", "Carrinho")',
            removeCart: '@Url.Action("RemoveFromCart", "Carrinho")'
        },
    });
</script>