@model IEnumerable<SK.Models.Carrinho>

@{
    ViewBag.Title = "Cart";
    ViewBag.Carrinho = Model.Count();
    <link href="~/Content/_HomeCarrinho.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
}

<h2 class="Title">Carrinho - Compras</h2>


<div class="cart">
@if (Model != null && Model.Any())
{

    decimal total = 0;

    foreach (var item in Model)
    {

        <div class="produto" id="@item.ProdutoId">
            <div class="itemDetails">
                <h2>@item.Nome_Produto</h2>
                <img src="@item.ImageUrl" />
                <h3>R$ <span id="preco-@item.ProdutoId" data-type="money">@item.Preco</span></h3>
            </div>
            <div class="btn-control">
                <div class="quantityController">
                    <button onclick="cart.Decrement(@item.ProdutoId)">-</button>
                    <span id="ChangeQuantity-@item.ProdutoId">@item.Quantidade</span>
                    <button onclick="cart.Increment(@item.ProdutoId)">+</button>
                </div>
                <button onclick="cart.removeFromCart(@item.ProdutoId)">REMOVER</button>
            </div>
        </div>
        total += item.Preco * item.Quantidade;
    }

    <div class="produto total">
        <p>TOTAL</p>
        <p>R$ <span id="Total" data-type="money">@total</span> </p>
    </div>
}
else
{
    <div class="noHaveItems">
        <div>
            <h1>Você não possui itens no carrinho</h1>
            <p>Clique no botão "VOLTAR A SKINS" para visualizar todos os produtos</p>
        </div>
        <i class="ph ph-shopping-cart"></i>
    </div>
}
</div>
<a class="returnToIndex" href="/Home/Index">Voltar a SKINS</a>


<script src="~/scripts/_CartRequests.js"></script>
<script>
    cart.init({
        urls: {
            addToCart: '@Url.Action("AddToCart", "Carrinho")',
            removeCart: '@Url.Action("RemoveFromCart", "Carrinho")',
            Increment: '@Url.Action("Increment", "Carrinho")',
            Decrement: '@Url.Action("Decrement", "Carrinho")'
        },
    });
</script>